body {
  font-family: Georgia, serif;
  color: #501e4c;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}

.App {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
header {
  background-color: #501e4c; 
  color: white;
  padding: 20px;
  margin-top: 50px;
  text-align: center;
}

header h1 {
  margin: 0;
}

/* header {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
} */

.daily-logo{
  width: 500px;
}
.daily-logo-link{
  display: flex;           
  flex-direction: column;   
  justify-content: center; 
  align-items: center;     
  margin-top: 30px;        
}

section {
  margin: 20px 0;
  padding: 15px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px #5a4c58;
}

h2 {
  border-bottom: 2px solid #501e4c;
  padding-bottom: 10px;
}

.carousel-title{
  color:#501e4c;
}

.carousel-container{
  width:100%;
}

.presidential-dataviz-container{
  margin-left: 50px;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 40%;
}
.twitter-container{
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.twitter-timeline{
  align-content: center;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
}
