  body {
    font-family: Georgia, serif;
    color: #501e4c;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    font-size: 1rem;
  }

  .App {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .introduction-container{
    display: flex;
    width: 100%;
    max-width: 500px;
    row-gap: 20px;
    flex-direction: column;
    margin: 10 auto ;
    overflow-y:auto
  }

  .fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: white;
    align-items: center;
    align-self: center;
    justify-content: center;
  }

  header {
    background-color: #501e4c; 
    color: white;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    font-size: 1rem;
  }

  header h1 {
    margin: 0;
  }
  .carousel-container {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 70vw;
}

.carousel-title {
    font-family: Georgia, serif;
}

.carousel-card {
    width: 300px;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-card-image {
    display: flex;
    align-items: flex-end;
    height: 179px;
    margin-bottom: 0.5rem;
    padding: 1rem;
    background-size: cover;
    background-position: center;
}

.carousel-card-category {
    font-weight: bold;
    font-size: 0.75rem;
    margin-top: 0;
    margin-bottom: 0.25rem;
}

.carousel-card-title {
    font-size: 1.5rem;
    font-family: "Arial", sans-serif;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.carousel-card-author, .carousel-card-link {
    color: #5a5a5a;
    font-size: 0.875rem;
    text-decoration: none;
}
.carousel-footer{
  display:flex;

  flex-direction: column;
  align-items: center;
    gap: 10px;
}

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    padding: 10px 10px; 
    background-color: #501e4c; 
    color: white; 
  }

  .sidebar-toggle {
    display: hidden;
    background: transparent;
    border: none; 
    cursor: pointer;
    color: black; 
    padding: 4px 4px; /* Existing padding */
    border: none; /* Remove default border */
    background: transparent; /* Make background transparent */
    cursor: pointer; /* Change cursor to pointer */
}
  
  .sidebar-toggle:hover {
    opacity: 0.8; 
  }

  .center-top-components{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .daily-logo {
    width: 40%; 
    max-width: 400px;
    align-self: center;
  }

  .daily-logo-link {
    display: flex;           
    flex-direction: column;   
    justify-content: center; 
    align-items: center;     
    margin-top: 15px;    

  }

  .daily-logo-container{
    
    margin:0px;    
  }
  .centered-container {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;     
    width: 100%;   
    margin-top: 0px;
    padding:0px;
    gap: 0.3rem; 
  }
  .coverage-link {
    font-size: 18px;
    padding: 8px 8px;
    border: 2px solid #FFFFFF;
    margin-top: 25px;
    color: #501e4c;
    border-radius: 4px;      
    text-align: center;
    text-decoration: underline;
    display: inline-block;   
  }


  .sidebar {
  position: fixed;
  top: 180px;
  left: 0;
  width: 20%; 
  height: calc(100vh - 80px);
  background-color: #501e4c; 
  padding: 20px;
  overflow-y: auto; 
  z-index: 999;
  }

  .sidebar-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: inherit;
    font-size: 1.5rem;
    cursor: pointer;
}


  .introduction {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  }

  section {
  margin: 20px 0;
  padding: 15px;
  background: white;
  border-radius: 8px;
  scroll-margin-top: 170px;
  }

  .main-content {
  /* position: fixed;
  top: 200;
  left: 0;
  right: 0; */
  background-color: #FAFAFA;
  padding-top: 150px; 
  border: none;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  flex: 1;
  }

  .content {
  display: flex;
  flex-direction: column;
  margin-left: 25%; 
  flex: 1; 
  overflow: hidden;
  }

  h2 {
  border-bottom: 2px solid #501e4c;
  padding-bottom: 10px;
  }




  .election-section {
    position:relative; /* prevents sideways scroll */
    display: flex;
    flex-grow: 1; 
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: start; */
    /* width: 100vw; */
    /* margin: 0 0; */
    /* height: fit-content; */

  }
 /* New subclass styles
 .cook-county {
  width: 100%;
}

.cook-county #cook-county {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  width: 100%; 
} */

.cook-county .dataviz {
  flex: 1 1 400px; /* Set a base width for dataviz items */
  margin: 5px; /* Reduced space between dataviz items */
  max-width: 100%; /* Prevent overflowing */
  min-height: 100px; /* Set a minimum height */
}

/* Mobile styles */
@media (max-width: 768px) {
  .cook-county #cook-county {
      flex-direction: column; /* Stack items vertically */
  }

  .cook-county .dataviz {
      flex: 1 1 100%; /* Full width on mobile */
      margin: 5px 0; /* Vertical margin only */
      min-height: 250px; /* Adjust height for mobile */
  }

  .cook-county .responsive-iframe {
      height: 250px;
     
  }
}

.referenda .responsive-iframe {
  width: 100%; /* Make iframe fill the width of its parent */
  height: 260px; /* Set a fixed height for visibility */
  border: none; /* Remove default border */
  display: block; /* Ensure there's no extra space below the iframe */
}

.cook-county .responsive-iframe {
  width: 100%; /* Make iframe fill the width of its parent */
  height: 300px; /* Set a fixed height for visibility */
  border: none; /* Remove default border */
  display: block; /* Ensure there's no extra space below the iframe */
}


  .dataviz-container {
    flex: 1; 
    max-width: 100%; 
    margin-left: 0px; 
    margin-right:10px;
    box-sizing: border-box;
    padding: 30px; 
    overflow: hidden; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    gap: 10px; 
  } 
  
  .responsive-iframe {
    border: none;
    width: 100%;
    height: auto;
    padding:20px;
  }

  .dataviz{

  border: none;
  width: 800px; 
  margin:20px;
  margin-top: 0px;
  padding-top:0px;
  }



  #datawrapper-chart-45p8N {
    margin: 0; /* Remove default margin */
}


  .twitter-container {
  max-height: 300px;  
  overflow-y: auto; 
  margin-bottom: 20px; 
  width: 100%; 
  box-sizing: border-box;
  border-radius: 5px;
  }

  .twitter-timeline {
  width:  300px;  
  height:calc((100vh - 100px) * 0.67);  
  border-radius: 5px;
  }



  .ballot-explainer {
    color: #501e4c;
    font-weight: bold;
  }

  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;  
    height: auto;
    font-family: Georgia, serif;
    color: #ffffff;
    background-color: #501e4c;
    border-bottom: 2px solid #FAFAFA;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }

  .menu-trigger {
    font-size: 1.0rem;  
    font-family: Georgia, serif;
    color: white;
    text-align: center;
    line-height: 1.5; 
    padding: 8px 12px;
    cursor: pointer;
    position: relative; 
  }

  .menu-trigger::after {
    content: ''; 
    position: absolute;  
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0.5px solid transparent;  
    border-radius: 5px; 
    transition: border-color 0.3s ease;
  }

  .menu-trigger:hover::after {
    border-color: white; 
  }



  .dropdown {
    display: flex;
    color: #501e4c;
    flex-direction: column;
    align-items: center;
  }

  .menu-link {
    font-size: 1.0rem;
    font-family: Georgia, serif;
    color: #501e4c;
    line-height: 1.5; 
    padding: 10px 15px; 
    text-align: center; 
  }

  .navigation-menu-sub {
    position: relative; 
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    z-index: 1000;
  }


  .outlined-button {
    background-color: transparent;
    font-family: Georgia, serif;
    border: 2px solid white; 
    color: white;
    padding: 8px 8px; 
    transition: background-color 0.3s, color 0.3s;
  }

  .outlined-button:hover {
  background-color: white; 
  color: black; 
  }

  .footer {
    display: flex; 
    justify-content: center; 
    align-items: center;
    background-color: #FAFAFA; 
    padding: 10px; 
    color: #501e4c; 
    position: relative; 
    /* margin-top: 20px; */
  }

  /* Responsive Styles */
  @media (max-width: 768px) {

  :root {
    --main-bg-color: #FFFF;
    overflow: auto;
    flex-wrap: wrap;
  }
 
  .centered-container{
 
    justify-content: center; /* Align items to the start */
    width: 100%; /* Ensure it takes full width */

  }
  .App{
    zoom: 100%; 
    justify-content: center;
    align-items: center;

  }

/* CAROUSEL */

  .carousel-card {
      width: 25; 
      align-self: center;
      margin-right: 10rem;
      margin-left:auto;
  }
  .carousel-container {
    padding-top: 1rem;
    padding-left: auto;
    padding-right: auto;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
  }
  .carousel-card-title{
    justify-content: center;
  }
  .carousel-title {
    justify-content: center;
    align-self: center;

  }

  .fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column; 
    /* gap: 5px; */
    font-size: 10px;
    /* padding: 0.5rem 0.5rem;  */
    width: 100%; 
    /* margin: 20px auto; */
    top: 0;
    z-index:1000;
    position:fixed;
    align-items: center;
    align-self: center;
    justify-content: center;
    padding-top: 5px;

  }

  .header-container {
    font-size: 10px;
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100vw;
    gap: 10px; 
  }

  .dataviz-container{
    max-width: 100%;
    flex: 1;
    align-self: center;
    justify-self: center;
    padding: 20px; 
    /* overflow-y: auto;  */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: fit-content; */
    
  }

  .dataviz-container.referenda{
    height: 100vw;
  }

  
  .dataviz {
    display: flex;
    flex-direction: column;
    border: none;
    width: 90vw; 
  }
  .responsive-iframe {
    width: 100vw;
    border: none;
    padding: 5px;
  }
  .presidential-section {
    flex-direction: column; 
  }

  
  .sidebar {
    display: none;
    background-color: #f4f4f4;
    position: fixed;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 250px;
    height: calc(100vh - 100px);
    overflow-y: auto; 
    z-index: 1000; 
    transition: transform 0.3s ease; 
  }


  .sidebar.active {
    display: block;
    transform: translateX(0); 
    opacity: 1;
    padding-top: 20%;
  }

  .sidebar-close {
    background: none;
    border: none;
    cursor: pointer;
    color: #501e4c; 
    font-size: 24px; 
  }

  .introduction {
  padding-top: 0;
  top:-30px;
  margin-top: 0px;
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  }
  .main-content {
    margin-left: -10px; 

    padding: 0.5rem;
    width: 100%;
    padding-top: 75px;
      /* top: 180px; */
  }

  .sidebar-toggle {
    display: block;
    color: #501e4c;
    padding:0px;  
    height: 35px; 
    width: 35px; 
    background: none;
    border: none;
    cursor: pointer;
    color: inherit; /* Matches color scheme */
    display: flex;
    align-items: center;
  }
  .sidebar.open {
    transform: translateX(0); 
  }

  .sidebar-close {
  height: 50px;
  width: 50px;
  padding-bottom: 0px;
  margin-bottom:0px;
  cursor: pointer; 
  color: #501e4c;
  position: absolute; 
  z-index: 11111;
  top: 10px;
  right: 10px;
  }
  .navigation-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    font-size: 10px;
    overflow: hidden; 
  }
  .menu-trigger, .menu-link {
    font-size: 1rem;
    padding: 4px 2px;
    margin: 0; 
    flex: 1; 
    display: flex;
    flex-direction: wrap;
    width: 100%; 
    text-align: center; 
    
  }

  .coverage-link{
    font-size: 12px;
    padding: 4px 4px;
    align-self: center;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  Button {
    width: 100%;
    margin-top: 10px; 
  }


  .daily-logo {
    width: 80%;
    max-width: 300px; 
  }

  .daily-logo-container {
    margin-bottom:10px;
  }

  header {
    padding: 10px;
  }

  h2 {
    font-size: 1.2rem;
    padding-bottom: 8px;
  }


  .twitter-timeline {
    height: 350px; 
    padding-bottom: 50px;
    border-radius: 5px;

  }
  .twitter-container{
      max-height:350px;
    border-radius: 5px;
  }
  .election-section {
    display: flex;
    flex-direction: column; /* Stack sections vertically on smaller screens */
    flex: 1;
  }
  .data-viz-container{
      max-width: 100%; /* Full width on mobile */
      margin: 0; /* Reset margins */
  }
  .menu-icon{
    height:20px;
    width:20px;
    margin-top: 15px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin-left: 0; 
}


  }

  @media (min-width: 768px) {
    .sidebar-toggle {
        display: none;
    }

    .sidebar-close {
      display: none;
  }
  
}