/* General Styles */
body {
    font-family: Georgia, serif;
    color: #501e4c;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
  }
  
  /* App Container */
  .App {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  /* Header Styles */
  .fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: white;
  }
  
  header {
    background-color: #501e4c; 
    color: white;
    padding: 20px;
    margin-top: 50px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  /* Daily Logo Styles */
  .daily-logo {
    width: 500px;
  }
  
  .daily-logo-link {
    display: flex;           
    flex-direction: column;   
    justify-content: center; 
    align-items: center;     
    margin-top: 30px;        
  }
  
  
  /* **** */
  
  .sidebar {
    position: fixed; /* Fix the sidebar */
    top: 150px; /* Below the fixed header */
    left: 0; /* Align to the left */
    width: 20%; /* Fixed width for sidebar */
    height: calc(100vh - 60px); /* Full height minus header height */
    background-color: #501e4c; /* Background color */
    padding: 20px; /* Padding inside the sidebar */
    overflow-y: auto; /* Allow scrolling if content is too tall */
    z-index: 999; /* Ensure it's below the header */
  }
  /* Main Content Styles */
  
  .introduction{
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Evenly space out children */
  }
  
  section {
    margin: 20px 0;
    padding: 15px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px #5a4c58;
  }
  
  .main-content {
    background-color: #FAFAFA;
    padding-top: 150px; 
    border: none;
    box-shadow: none;
  
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    flex: 1;
  }
  .content {
    display: flex;
    flex-direction: column;
    margin-left: 25%; 
    flex: 1; 
    overflow: hidden;
  }
  
  /* Title Styles */
  h2 {
    border-bottom: 2px solid #501e4c;
    padding-bottom: 10px;
  }
  
  .carousel-title {
    color: #501e4c;
  }
  
  /* Presidential Section Styles */
  .presidential-section {
    display: flex;
      flex-direction: row; /* Keeps child components in a row */
      justify-content: space-between; /* Distributes space between items */
      align-items: flex-start; /* Aligns items to the start of the cross-axis */
      margin: 10px 0; /* Controls vertical spacing above and below the section */
      gap: 10px; /* Optional: Controls horizontal spacing between the child components */
  }
  
  .presidential-dataviz-container {
    flex-grow: 2; /* Allows this container to fill remaining space */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;               /* Ensure the parent has a defined height */
    padding: 20px;  
  }
  
  .presidential-dataviz{
    border: "none";
    width: "800px"; 
    height: "138px";
    /* padding-bottom: 10px; */
  }
  
  .congressional-dataviz{
    /* padding-top: 30px; */
    border: "none";
    width: "800px"; 
    height: "138px";
  
  }
  
  /* Carousel Container Styles */
  .carousel-container {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  /* Twitter Feed Styles */
  .twitter-container {
    max-height: calc(100vh - 100px); /* Adjust the value based on your layout */
    overflow-y: auto; /* Allows scrolling if the content exceeds the max height */
    margin-bottom: 20px; /* Optional: Add some spacing below if needed */
  }
  
  .twitter-timeline {
    width: 100%;
    height: 45%;
    padding-bottom: 50px;
    align-content: center;
    display: flex;
    justify-content: center;
  }
  
  /* Ballot Explainer Styles */
  .ballot-explainer {
    color: #501e4c;
    font-weight: bold;
  }
  
  /* Carousel Card Styles */
  .carousel-card {
    width: 300px;
    height: 400px;
    margin-bottom: 20px;
    padding: 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .carousel-card-image {
    height: 150px;
    background-size: cover;
    background-position: center;
    margin-bottom: 16px;
  }
  
  .carousel-card-category {
    font-weight: bold;
    font-size: 0.875rem; /* Approx $0.75 */
    margin: 0 0 8px;
  }
  
  .carousel-card-title {
    font-size: 1.5rem; /* Approx $1.50 */
    margin: 0 0 16px;
  }
  
  .carousel-card-author {
    color: #501e4c; /* Accessible color */
    font-size: 1rem; /* Approx $0.87 */
    text-decoration: none;
  }
  
  /* Header Container */
  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px; /* Space out menu items */
    height: auto;
    margin-top: 30px;
    font-family: Georgia, serif;
    color: white;
    background-color: #501e4c;
    border-bottom: 2px solid #FAFAFA;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Thin gray shadow */
  }
  
  /* Menu Trigger Styles */
  .menu-trigger {
    font-size: 1.5rem; /* Make the font size larger */
    font-family: Georgia, serif;
    color: white;
    text-align: center;
    line-height: 1.5; 
  }
  
  /* Dropdown Styles */
  .dropdown {
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
  }
  
  .menu-link {
    font-size: 1.3rem;
    font-family: Georgia, serif;
    color: white;
    line-height: 1.5; 
    padding: 10px 15px; 
    text-align: center; 
  }
  
  .navigation-menu-sub {
    position: relative; 
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    z-index: 1000;
  }
  
  /* Button Styles */
  .outlined-button {
    background-color: transparent; /* Remove the background color */
    font-family: Georgia, serif;
    border: 2px solid white; /* Add a white border */
    color: white; /* Set text color to white */
    padding: 8px 16px; /* Adjust padding as necessary */
    transition: background-color 0.3s, color 0.3s; /* Optional: Add transitions for hover effects */
  }
  
  .outlined-button:hover {
    background-color: white; /* Change background on hover */
    color: black; /* Change text color on hover */
  }
  .footer{
    justify-content: center;
    align-items: center;
  }
  /* Responsive Styles */
  @media (max-width: 768px) {
    .main-content {
      margin-left: 0;
      width: 100%;
      padding-top: 60px; /* Offset for the mobile sidebar height */
    }
  
    .presidential-section {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 10px 0;
    }
  
    section {
      margin: 10px 0;
      padding: 10px;
    }
  
    .dataviz-container {
      width: 100%;
      /* padding-bottom: 30px; */
    }
  
    .presidential-dataviz {
      height: 200px; /* Adjust the height for mobile */
      padding-bottom: 30px;
      margin-bottom: 30px;
  
    }
    .cngressional-dataviz {
      height: 200px; /* Adjust the height for mobile */
      padding-top: 30px;
      margin-top: 30px;
  
    }
    .carousel-container {
      width: 100%;
      margin: 0;
      padding: 20px;
    }
  
    .daily-logo {
      width: 80%;
      max-width: 300px; /* Adjust max width */
    }
  
    header {
      padding: 10px; /* Reduce header padding */
    }
  
    h2 {
      font-size: 1.2rem;
      padding-bottom: 8px;
    }
  
    .sidebar {
      display: none; /* Hide sidebar on mobile */
    }
  
    .fixed-header {
      padding: 10px; /* Reduce padding for header on mobile */
    }
  }
  