/* General Styles */
body {
    font-family: Georgia, serif;
    color: #501e4c;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
  }
  
  /* App Container */
  .App {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  /* Header Styles */
  .fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: white;
  }
  
  header {
    background-color: #501e4c; 
    color: white;
    padding: 20px;
    margin-top: 50px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  /* Daily Logo Styles */
  .daily-logo {
    width: 500px;
  }
  
  .daily-logo-link {
    display: flex;           
    flex-direction: column;   
    justify-content: center; 
    align-items: center;     
    margin-top: 30px;        
  }
  
  /* Main Content Styles */
  section {
    margin: 20px 0;
    padding: 15px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px #5a4c58;
  }
  
  .main-content {
    background-color: #FAFAFA;
    padding-top: 150px; 
    border: none;
    box-shadow: none;
  }
  
  /* Title Styles */
  h2 {
    border-bottom: 2px solid #501e4c;
    padding-bottom: 10px;
  }
  
  .carousel-title {
    color: #501e4c;
  }
  
  /* Presidential Section Styles */
  .presidential-section {
    display: flex;
    flex-direction: row;
    gap: 20px; 
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 20px;
  }
  
  .presidential-dataviz-container {
    flex-grow: 2; /* Allows this container to fill remaining space */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .presidential-dataviz{
    border: "none";
    width: "800px"; 
    height: "138px";
    padding-bottom: 30px;
  }
  
  .congressional-dataviz{
    padding-top: 30px;
    border: "none";
    width: "800px"; 
    height: "138px";
  }
  
  .congressional-dataviz {
    padding-top: 30px;
  }
  
  /* Carousel Container Styles */
  .carousel-container {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    padding: 20px;
  }
  
  /* Twitter Feed Styles */
  .twitter-container {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .twitter-timeline {
    align-content: center;
    display: flex;
    justify-content: center;
  }
  
  /* Ballot Explainer Styles */
  .ballot-explainer {
    color: #501e4c;
    font-weight: bold;
  }
  
  /* Carousel Card Styles */
  .carousel-card {
    width: 300px;
    height: 400px;
    margin-bottom: 20px;
    padding: 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .carousel-card-image {
    height: 150px;
    background-size: cover;
    background-position: center;
    margin-bottom: 16px;
  }
  
  .carousel-card-category {
    font-weight: bold;
    font-size: 0.875rem; /* Approx $0.75 */
    margin: 0 0 8px;
  }
  
  .carousel-card-title {
    font-size: 1.5rem; /* Approx $1.50 */
    margin: 0 0 16px;
  }
  
  .carousel-card-author {
    color: #501e4c; /* Accessible color */
    font-size: 1rem; /* Approx $0.87 */
    text-decoration: none;
  }
  
  /* Sidebar Styles */
  .sidebar {
    width: 20%; /* Fixed width */
    background-color: #501e4c; /* Aesthetic color for sidebar */
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh; /* Full height */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Soft shadow for effect */
  }
  
  .sidebar-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 20px;
  }
  
  .sidebar-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .sidebar-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 10px 0;
    transition: color 0.3s, background-color 0.3s;
    border-radius: 8px;
    padding-left: 10px;
  }
  
  .sidebar-link:hover {
    background-color: #7b2d6a; /* Slightly lighter shade for hover */
    color: #ffffff;
  }
  
  .sidebar-link.active {
    background-color: #7b2d6a; /* Highlight for the active section */
    color: #ffffff;
  }
  
  /* Responsive Sidebar */
  @media (max-width: 768px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
      flex-direction: row;
      justify-content: space-around;
      padding: 10px;
    }
  
    .sidebar-title {
      font-size: 1.25rem;
      margin-bottom: 0;
    }
  
    .sidebar-nav {
      flex-direction: row;
      justify-content: space-around;
    }
  
    .sidebar-link {
      padding: 5px 10px;
      font-size: 1rem;
    }
  }
  
  /* Header Container */
  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px; /* Space out menu items */
    height: auto;
    margin-top: 30px;
    font-family: Georgia, serif;
    color: white;
    background-color: #501e4c;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Thin gray shadow */
  }
  
  /* Menu Trigger Styles */
  .menu-trigger {
    font-size: 1.5rem; /* Make the font size larger */
    font-family: Georgia, serif;
    color: white;
    text-align: center;
    line-height: 1.5; 
  }
  
  /* Dropdown Styles */
  .dropdown {
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
  }
  
  .menu-link {
    font-size: 1.3rem;
    font-family: Georgia, serif;
    color: white;
    line-height: 1.5; 
    padding: 10px 15px; 
    text-align: center; 
  }
  
  .navigation-menu-sub {
    position: relative; 
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    z-index: 1000;
  }
  
  /* Button Styles */
  .outlined-button {
    background-color: transparent; /* Remove the background color */
    font-family: Georgia, serif;
    border: 2px solid white; /* Add a white border */
    color: white; /* Set text color to white */
    padding: 8px 16px; /* Adjust padding as necessary */
    transition: background-color 0.3s, color 0.3s; /* Optional: Add transitions for hover effects */
  }
  
  .outlined-button:hover {
    background-color: white; /* Change background on hover */
    color: black; /* Change text color on hover */
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .main-content {
      margin-left: 0;
      width: 100%;
      padding-top: 60px; /* Offset for the mobile sidebar height */
    }
  
    .presidential-section {
      flex-direction: column;
      align-items: center;
      margin: 10px 0;
    }
  
    section {
      margin: 10px 0;
      padding: 10px;
    }
  
    .federal-dataviz-container {
      width: 100%;
      /* padding-bottom: 30px; */
    }
  
    .presidential-dataviz {
      height: 200px; /* Adjust the height for mobile */
      padding-bottom: 30px;
      margin-bottom: 30px;
  
    }
    .cngressional-dataviz {
      height: 200px; /* Adjust the height for mobile */
      padding-top: 30px;
      margin-top: 30px;
  
    }
  
    .carousel-container {
      width: 100%;
      margin: 0;
      padding: 10px;
    }
  
    .daily-logo {
      width: 80%;
      max-width: 300px; /* Adjust max width */
    }
  
    header {
      padding: 10px; /* Reduce header padding */
    }
  
    h2 {
      font-size: 1.2rem;
      padding-bottom: 8px;
    }
  
    .sidebar {
      display: none; /* Hide sidebar on mobile */
    }
  
    .fixed-header {
      padding: 10px; /* Reduce padding for header on mobile */
    }
  }
  